body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.instagram {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 250px;
  height: 250px;
  text-align: center;
  border-radius: 50px;
  color: #fff;
  font-size: 220px;
  line-height: 250px;
  vertical-align: middle;
  background: #d6249f;
  background: radial-gradient(circle at 20% 100%, #fdf497 0.5%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25),0px 3px 10px rgba(94, 87, 87, 0.25);
}
.innerbox{
  position: absolute;
  right: 50.1%;
  top: 50.3%;
  transform: translate(-74%,-50%);
  width: 180px;
  height: 180px;
  background: transparent;
  border: 10px solid #fff;
  border-radius: 50px;
}
.circle{
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(-195%,-50%);
  width: 80px;
  height: 80px;
  background: transparent;
  border: 10px solid #fff;
  border-radius: 50%;
}
.smallcircle{
  position: absolute;
  right: 16%;
  top: 24%;
  transform: translate(-50%,-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
}

.instagram-2 {
  position: absolute;
  right: 30%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 250px;
  height: 250px;
  border-radius: 50px;
  background: radial-gradient(circle at 20% 100%, #fdf497 0.5%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25),0px 3px 10px rgba(94, 87, 87, 0.25);
}

.innerbox-2{
  position: absolute;
  right: 50%;
  top: 50.2%;
  transform: translate(61%,-50%);
  width: 210px;
  height: 210px;
  background:#fff;
  border-radius: 50px;
}
.circle-2{
  position: absolute;
  right: 40%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 110px;
  height: 110px;
  background: radial-gradient(circle at 20% 100%, #fdf497 0.5%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  border-radius: 50%;
}
.innner-circle{
  position: absolute;
  right: -18%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 75px;
  height: 75px;
  background: white;
  border-radius: 50%;
}

.smallcircle-2{
  position: absolute;
  right: 41.5%;
  top: 38.8%;
  transform: translate(-50%,-50%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: radial-gradient(#d6249f 60%,#285AEB 90%);

}
@font-face {
font-family: 'Billabong';
font-style: normal;
font-weight: normal;
src: local('Billabong'), url('../fonts/Billabong.woff') format('woff');
}

p{
    position: absolute;
    top: 63%;
    right: 63%;
    font-family:'Billabong';
    font-weight:normal;
    font-size:52px;

}
.text-2{
    position: absolute;
    top: 63%;
    right: 42%;
    font-family:'Billabong';
    font-weight:normal;
    font-size:52px;
}

.text-3{
    position: absolute;
    top: 63%;
    right: 23%;
    font-family:'Billabong';
    font-weight:normal;
    font-size:52px;
}

.instagram-3{
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 250px;
  height: 250px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 220px;
  line-height: 250px;
  vertical-align: middle;
  background: #d6249f;
  background: radial-gradient(circle at 20% 100%, #fdf497 0.5%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25),0px 3px 10px rgba(94, 87, 87, 0.25);
}

.innerbox-3{
  position: absolute;
  right:29.9%;
  top: 50.2%;
  transform: translate(61%,-50%);
  width: 180px;
  height: 180px;
  background:#fff;
  border-radius: 25px;
}

.inner-square{
  position: absolute;
  right:29.6%;
  top: 54.2%;
  transform: translate(61%,-50%);
  width: 140px;
  height: 95px;
  background: radial-gradient(circle at 20% 100%, #fdf497 0.5%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  border-radius: 10px;
}

.inner-circle-3{
  position: absolute;
  right: 22.9%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 75px;
  height: 75px;
  background: #fff;
  border-radius: 50%;
}

.inner-inner-circle{
  position: absolute;
  right: 24.65%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 50px;
  height: 50px;
    background: radial-gradient(circle at 20% 100%, #fdf497 0.5%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  border-radius: 50%;
}

.smallcircle-3{
  position: absolute;
  right: 22.5%;
  top: 38.8%;
  transform: translate(-50%,-50%);
  width: 25px;
  height: 25px;
  background: radial-gradient(circle at 20% 100%, #fd5949 0.5%,#d6249f 20%,#285AEB 90%);

}